<form [formGroup]="formGroup">
    <h6 class="mat-subtitle-1">Setup Email for {{ loginData?.loginName }}</h6>
    <p class="mat-caption" style="color: gray; margin-bottom: 10px;">
        Enter the E-Mail Address you would like to set for {{ loginData?.loginName }}
    </p>
    <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Email</mat-label>
        <input matInput formControlName="password"
               name="email" placeholder="Enter The Password" required>
    </mat-form-field>

    <div style="display: flex; justify-content: flex-end">
        <button mat-button mat-dialog-close type="button">Cancel</button>
        <button mat-stroked-button type="submit">Use E-Mail</button>
    </div>
</form>
