<h2 mat-dialog-title style="margin-top: 0; position: relative;">
    <mat-icon style="vertical-align: middle; margin-bottom: 4px;">person</mat-icon>
    <span style="margin-left: 8px;">Login</span>
    <button tabindex="-1" mat-icon-button mat-dialog-close style="position: absolute; top: 18px; right: 10px;">
        <mat-icon>close</mat-icon>
    </button>
</h2>
<mat-dialog-content>
    <form (ngSubmit)="onSubmit()">
        <div style="margin-top: 5px">
            <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>Login Name</mat-label>
                <input [(ngModel)]="loginName" matInput placeholder="Enter your login name..." name="loginName" required>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions style="display: flex; justify-content: space-between; width: 100%;">
    <div>
        <mat-checkbox [ngModel]="keepLoggedIn" id="keepLoggedIn" style="vertical-align: middle; margin-bottom: 5px;"></mat-checkbox>
        <label (click)="keepLoggedIn = !keepLoggedIn" for="keepLoggedIn">
            Keep me logged in
        </label>
    </div>
    <div>
        <button mat-button mat-dialog-close>Cancel</button>
        <button (click)="onSubmit()" mat-stroked-button>Login</button>
    </div>
</mat-dialog-actions>
