.upload-container {
    text-align: center;
    padding: 20px;
    border: 1px dashed var(--text-color);
    border-radius: 8px;
    background-color: var(--background-color);
    max-width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.upload-container p {
    font-size: 16px;
    color: var(--text-color);
}

.button {
    padding: 10px 20px;
    font-size: 14px;
    background-color: var(--widget-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
}

ul li {
    font-size: 14px;
    color: #555;
    margin: 5px 0;
}
