<form (ngSubmit)="onSubmit()" [formGroup]="this.form">
    <h6 class="mat-subtitle-1">Setup Password for {{ loginData?.loginName }}</h6>
    <p class="mat-caption" style="color: gray; margin-bottom: 10px;">
        Enter the password you would like to set for {{ loginData?.loginName }}
    </p>
    <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" [type]="showPassword ? 'text' : 'password'"
               name="password" placeholder="Enter The Password" required>
        <button type="button" mat-icon-button matSuffix (click)="onShowPassword($event)">
            <mat-icon>{{ showPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Repeat Password</mat-label>
        <input matInput formControlName="repeatPassword" [type]="showRepeatPassword ? 'text' : 'password'"
               name="repeatPassword" placeholder="Repeat the password" required>
        <button type="button" mat-icon-button matSuffix (click)="onShowRepeatPassword($event)">
            <mat-icon>{{ showRepeatPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
    </mat-form-field>
    <div style="display: flex; justify-content: flex-end">
        <button mat-button mat-dialog-close type="button">Cancel</button>
        <button mat-stroked-button type="submit">Set Password</button>
    </div>
</form>
