<form (ngSubmit)="onSubmit()" [formGroup]="this.form">

    <!-- title -->
    <app-form-title title="Setup Password for {{ loginData?.loginName }}">
        <ng-container *ngIf="loginData?.credentialTemporary">
            <p>You've logged in with a temporary password. Please create a new one to secure your account.</p>
        </ng-container>
        Enter the password you would like to set for {{ loginData?.loginName }}.
    </app-form-title>

    <!-- form fields -->
    <!-- Don't know where to add this sentence -->
    <!-- The password must be at least 6 characters long and include at least one lowercase letter, one uppercase letter, and one special character. -->
    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input name="password"
               formControlName="password"
               placeholder="Password"
               [type]="showPassword ? 'text' : 'password'"
               required autofocus matInput>

        <button (click)="onShowPassword($event)"
                type="button"
                mat-icon-button
                matSuffix>
            <mat-icon>{{ showPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
        <mat-error>{{ errorMessageSignal() }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Repeat Password</mat-label>
        <input name="password"
               formControlName="repeatPassword"
               placeholder="Repeat Password"
               [type]="showRepeatPassword ? 'text' : 'password'"
               required autofocus matInput>

        <button (click)="onShowRepeatPassword($event)"
                type="button"
                mat-icon-button
                matSuffix>
            <mat-icon>{{ showRepeatPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
        <mat-error>{{ errorMessageSignal() }}</mat-error>
    </mat-form-field>

    <!-- buttons -->
    <app-footer-buttons buttonText="Set Password"></app-footer-buttons>

</form>
