<form (ngSubmit)="onSubmit()">
    <h6 class="mat-subtitle-1">Login as {{ loginData?.loginName }}</h6>
    <p class="mat-caption" style="color: gray; margin-bottom: 10px;">
        Please enter the code we've sent to the users phone number.
    </p>
    <mat-form-field appearance="outline">
        <mat-label>Enter code from the E-Mail...</mat-label>
        <input [(ngModel)]="_code" autofocus
               matInput
               name="code" placeholder="Enter code from the TOTP App..." required>
    </mat-form-field>
    <div style="display: flex; justify-content: flex-end">
        <button (click)="onCancel()" mat-button mat-dialog-close type="button">Cancel</button>
        <button mat-stroked-button type="submit">Login</button>
    </div>
</form>
