<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <app-general-create title="Create Room" [loading]="loading">
        <mat-card-content>

            <mat-form-field appearance="outline">
                <mat-label>Room Name</mat-label>
                <input
                    type="text"
                    matInput
                    formControlName="name"
                />
            </mat-form-field>

        </mat-card-content>
        <mat-card-actions align="end">
            <button class="close-button" mat-button type="button" mat-dialog-close>Cancel</button>
            <button mat-stroked-button type="submit" [disabled]="!canSubmit">Submit</button>
        </mat-card-actions>
    </app-general-create>
</form>

