<form (ngSubmit)="onSubmit()" [formGroup]="form">
    <!-- title -->
    <app-form-title title="Login as {{ loginData?.loginName }}">
        We've sent an E-Mail. Please enter the code you received.
    </app-form-title>

    <!-- title -->
    <mat-form-field appearance="outline">
        <mat-label>Enter code from the E-Mail...</mat-label>
        <input name="code"
               formControlName="secret"
               placeholder="E-Mail Code..."
               required autofocus matInput>
        <mat-error>{{ errorMessageSignal() }}</mat-error>
    </mat-form-field>

    <!-- buttons -->
    <app-footer-buttons></app-footer-buttons>
</form>
