<form (ngSubmit)="onSubmit()" [formGroup]="form">
    <app-general-card [loading]="loading" title="{{ title }}">
        <mat-card-content class="content-wrapper">

            <mat-form-field appearance="outline">
                <mat-label>Course Name</mat-label>
                <input formControlName="name" matInput type="text"/>
            </mat-form-field>

            <general-selection-input
                [values]="subjects"
                formControlName="subject"
                label="Subject">
            </general-selection-input>

            <general-selection-input
                [values]="teacher"
                formControlName="teacher"
                label="Teacher">
            </general-selection-input>

            <general-selection-input
                [allowNull]="true"
                [multiple]="true"
                [values]="students"
                formControlName="students"
                label="Students">
            </general-selection-input>

            <general-selection-input
                [allowNull]="true"
                [values]="classrooms"
                formControlName="classroom"
                label="Classroom">
            </general-selection-input>

        </mat-card-content>
        <mat-card-actions align="end">
            <button class="close-button" mat-button mat-dialog-close type="button">Cancel</button>
            <button [disabled]="!canSubmit" mat-stroked-button type="submit">Submit</button>
        </mat-card-actions>
    </app-general-card>
</form>
