<!-- TODO: Shorten style attributes by outsourcing them into the ts file -->
<mat-drawer-container class="example-container">
    <!-- SIDEBAR/DRAWER -->
    <mat-drawer #drawer mode="over" class="drawer" [style.background-color]="user.theme.getWidgetColor" style="{{ mobile ? 'width: 100%;' : 'width: 300px'}}">
        <div class="toggle-button">
            <button mat-icon-button [style.color]="user.theme.getTextColor('background', false)" (click)="drawer.toggle()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <h1 class="eedu-title" [style.color]="user.theme.getTextColor('widget', true)">ElementEDU</h1>
        <div style="{{ mobile ? 'margin-top: 60px' : 'margin-top: 40px'}}">
            <div *ngFor="let item of sidebar_buttons">
                <button mat-button class="sidebar-button" [style.color]="user.theme.getTextColor('widget', false)" style="{{ mobile ? 'padding-left: 30%' : 'padding-left: 30px'}}" [routerLink]="[item.route]" (click)="drawer.toggle()">
                    <mat-icon fontIcon="{{item.icon_name}}"></mat-icon>
                    {{ item.title }}
                </button>
            </div>
            <button mat-button class="logout-button" [style.color]="user.theme.getTextColor('widget', false)" (click)="logout()" style="padding-left: 30px; {{ mobile ? 'width: 100%' : '' }}">
                <mat-icon fontIcon="logout"></mat-icon>
                Logout as {{ user.loginName }}
            </button>
        </div>
    </mat-drawer>
    <!-- MAIN CONTENT -->
    <mat-drawer-content [style.background-color]="user.theme.getBackgroundColor">
        <button *ngIf="!drawer.opened" mat-icon-button (click)="drawer.toggle()">
            <mat-icon [style.color]="user.theme.getTextColor('background', false)">menu</mat-icon>
        </button>
        <div class="page-content" style="{{ drawer.opened ? 'margin-top: 48px' : ''}}" [ngStyle]="responsiveContent()" >
            <router-outlet></router-outlet>
        </div>
        <!-- ROUTER OUTPUT -->
    </mat-drawer-content>
</mat-drawer-container>
