<div class="dialog-container">
    <h2 mat-subheader style="font-size: 20px"><strong>Create new chat</strong></h2>
    <p>Select a user with whom you want to chat with.</p>

    <mat-form-field style="width: 90%">
        <mat-label>Search for user</mat-label>
        <input matInput [(ngModel)]="searchQuery" (ngModelChange)="filterUserList()">
    </mat-form-field>

    <!-- Scrollable user list container -->
    <div class="user-list">
        <div *ngFor="let x of userList">
            <button mat-flat-button (click)="createChat(x.id)" class="buttons">
                {{x.firstName}} {{x.lastName}}
                <mat-icon>person_add</mat-icon>
            </button>
            <mat-divider class="mat-divider"></mat-divider>
        </div>
    </div>
</div>
