<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <app-general-create title="{{ title }}" [loading]="loading">
        <mat-card-content class="content-wrapper">

            <mat-form-field appearance="outline">
                <mat-label>Course Name</mat-label>
                <input formControlName="name" type="text" matInput/>
            </mat-form-field>

            <general-selection-input
                [values]="subjects"
                label="Subject"
                formControlName="subject">
            </general-selection-input>

            <general-selection-input
                [values]="teacher"
                label="Teacher"
                formControlName="teacher">
            </general-selection-input>

            <general-selection-input
                [values]="students"
                [multiple]="true"
                [allowNull]="true"
                label="Students"
                formControlName="students">
            </general-selection-input>

            <general-selection-input
                [values]="classrooms"
                [allowNull]="true"
                label="Classroom"
                formControlName="students">
            </general-selection-input>

        </mat-card-content>
        <mat-card-actions align="end">
            <button class="close-button" mat-button type="button" mat-dialog-close>Cancel</button>
            <button mat-stroked-button type="submit" [disabled]="!canSubmit">Submit</button>
        </mat-card-actions>
    </app-general-create>
</form>
