<form (ngSubmit)="onSubmit()" [formGroup]="form">
    <app-general-card [loading]="loading" title="Create new Appointment">
        <mat-card-content class="content-wrapper">
            <general-selection-input
                [values]="courses"
                formControlName="course"
                label="Enter the Course this Appointment applies to">
            </general-selection-input>

            <mat-tab-group (selectedIndexChange)="form.get('selected')?.setValue($event)"
                           [selectedIndex]="form.get('selected')?.value"
                           animationDuration="200ms">
                <mat-tab label="Appointment">
                    <div class="appointment-content">
                        <app-create-standalone-appointment
                            #standalone
                            [rooms]="rooms">
                        </app-create-standalone-appointment>
                    </div>
                </mat-tab>
                <mat-tab label="Frequent Appointment">
                    <div class="appointment-content">
                        <app-create-frequent-appointment
                            #frequent
                            [rooms]="rooms">
                        </app-create-frequent-appointment>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
        <mat-card-actions align="end">
            <button class="close-button" mat-button mat-dialog-close type="button">Cancel</button>
            <button [disabled]="!canSubmit()" mat-stroked-button type="submit">Submit</button>
        </mat-card-actions>
    </app-general-card>
</form>
