.post-item {
    width: 100%;
    padding: 8px 0;
    border-bottom: 1px solid var(--text-color);
    &:last-child {
        border-bottom: none;
    }
}

.post-header {
    display: flex;
    justify-content: space-between;
}

.post-title {
    font-size: 15px;
    margin: 0;
    color: var(--text-color);
}

.post-author {
    font-size: 12px;
    color: gray;
    margin: 0;
}
