<ng-container *ngIf="editing()">
    <ng-content></ng-content>
</ng-container>

<ng-container *ngIf="!editing() && assignment?.description">

    <mat-form-field>
        <mat-label>Current User</mat-label>
        <mat-select #select>
            @for (insight of assignmentInsightModels; track assignmentInsightModels)
            {
                <mat-option [value]="insight">
                    <mat-icon>{{ toIcon(insight) }}</mat-icon>
                    {{ insight.name }}
                </mat-option>
            }
        </mat-select>
    </mat-form-field>

    <ng-container *ngIf="select.value != null">
        <p>Submitted {{ select.value.submitted }}</p>

        <mat-list>
            @for (file of toArray(select.value); track file) {
                <mat-list-item>{{ file }}</mat-list-item>
            }
        </mat-list>
    </ng-container>
</ng-container>
