<div *ngIf="articleList.length == 0">
    <h3 style="color: white">No articles yet!</h3>
</div>

<div *ngIf="articleList.length > 0" class="highlighted-article">
    <div class="highlighted-banner">
        <img [src]="articleList[0].thumbnailBlob" alt="Headline Background Image">
    </div>
    <div class="highlighted-overlay">
        <h1 class="highlighted-title">{{ articleList[0].title }}</h1>
        <div class="highlighted-details">
            <div class="highlighted-author">
                {{ articleList[0].author }}
            </div>
            <div class="highlighted-date">
                {{ this.getTimeString(articleList[0].timeOfCreation) }}
            </div>
        </div>
        <a (click)="openArticle(BigInt(articleList[0].id))" class="highlighted-button">Read More</a>
    </div>
</div>

<div *ngIf="articleList.length > 0" id="container" #container>
    <mat-grid-list [cols]="calculateColumns()" rowHeight="420px" width="100%" (window:resize)="calculateColumns()">
        <mat-grid-tile *ngFor="let x of articleList">
            <div class="news-card" (click)="openArticle(x.id)" style="cursor: pointer;">
                <div class="news-thumbnail" *ngIf="thumbnailBlobExists(x)">
                    <img [src]="x.thumbnailBlob" alt="">
                </div>
                <div class="news-content">
                    <h3 class="news-title">{{ x.title }}</h3>
                    <div class="news-footer">
                        <div class="news-info">
                            <div class="news-author">
                                <span class="author-icon"></span>
                                {{ x.author }}
                            </div>
                            <div class="news-date">
                                <span class="date-icon"></span>
                                {{ this.getTimeString(x.timeOfCreation) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>c
</div>

<mat-paginator [hidePageSize]="true"
               [pageSize]="10"
               [pageIndex]="this.pageIndex"
               [length]="this.articleCount"
               (page)="nextPage($event)"
                style="background-color: var(--widget-color); color: var(--text-color)">
</mat-paginator>

<button mat-fab class="add-article-button" *ngIf="hasPermission()" (click)="openArticleCreation()">
    <mat-icon>add</mat-icon>
</button>


