<form (ngSubmit)="onSubmit()">
    <h6 class="mat-subtitle-1">
        @if (loginData.isCredentialRequired)
        {
            Setup two factor for {{ loginData.loginName }}
            <p class="mat-caption" style="color: gray; margin-bottom: 10px;">
                The user account {{ loginData.loginName }} requires two factor authentication
            </p>
        }
        @else
        {
            Select authorization method for {{ loginData.loginName }}
        }
    </h6>
    <div>
        <mat-selection-list #selectionList [multiple]="false">
            @for (credential of loginData.availableCredentials; track credential) {
                <mat-list-option [value]="credential" tabindex="0">
                    <mat-icon class="icon">{{ credentialDisplayName(credential).icon }}</mat-icon>
                    {{ credentialDisplayName(credential).displayName }}
                </mat-list-option>
            }
        </mat-selection-list>
        <div style="display: flex; justify-content: flex-end">
            <button (click)="onCancel()" mat-button type="button">Cancel</button>
            <button [disabled]="!selectionList.selectedOptions.hasValue()" mat-stroked-button type="submit">Select
            </button>
        </div>
    </div>
</form>
