<form (ngSubmit)="onSubmit()">

    @if (loginData?.credentialRequired) {
        <app-form-title title="Configure credential for {{ loginData?.loginName}}">
            This user requires a new credential
        </app-form-title>
    } @else {
        <app-form-title title="Select authorization method for {{ this.loginData?.loginName }}"></app-form-title>
    }

    <div>
        <mat-selection-list #selectionList [multiple]="false">
            @for (credential of this.loginData?.availableCredentials; track credential) {
                <mat-list-option [value]="credential" tabindex="0">
                    <mat-icon class="icon">{{ credentialDisplayName(credential).icon }}</mat-icon>
                    {{ credentialDisplayName(credential).displayName }}
                </mat-list-option>
            }
        </mat-selection-list>
        <div style="display: flex; justify-content: flex-end">
            <button (click)="onCancel()" mat-button type="button">Cancel</button>
            <button [disabled]="!selectionList.selectedOptions.hasValue()" mat-stroked-button type="submit">Select
            </button>
        </div>
    </div>
</form>
