<h1 class="text">Latest sick notes</h1>
<p class="text">
    Accept or decline sick notes here. Make sure that all information <br>
    is correct and credible. The status of the sick note is visible to the user.
</p>

<div *ngIf="illnessNotifications.length != 0">
    <mat-accordion style="background-color: var(--widget-color)">
        <div *ngFor="let x of illnessNotifications" style="background-color: var(--widget-color)">
            <mat-expansion-panel class="list-element">
                <mat-expansion-panel-header style="background-color: var(--widget-color)">
                    <mat-panel-title class="text"> {{ x.user.name }} </mat-panel-title>
                    <mat-panel-description class="text"> {{ x.expirationTimeString }} </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="expansion-body">
                    <div class="notification-details">
                        <h3>ID:</h3> <span>{{ x.id }}</span>
                        <h3>From:</h3> <span>{{ x.timestampString }}</span>
                        <h3>To:</h3> <span>{{ x.expirationTimeString }}</span>
                        <h3>Reason:</h3> <span>{{ x.reason }}</span>
                    </div>
                    <button mat-flat-button class="appendix-button" (click)="downloadFile(x.fileModel.id)">
                        Download Appendix
                    </button> <br>
                    <button mat-flat-button class="appendix-button" (click)="respondToNotification(x.id, IllnessNotificationStatus.ACCEPTED)">
                        <mat-icon>check</mat-icon> Accept
                    </button>
                    <button mat-flat-button class="appendix-button" (click)="respondToNotification(x.id, IllnessNotificationStatus.DECLINED)">
                        <mat-icon>close</mat-icon> Decline
                    </button>
                </div>
            </mat-expansion-panel>
        </div>
    </mat-accordion>
</div>

<div *ngIf="illnessNotifications.length == 0" class="text">
    <p style="text-indent: 2em"> No pending sick notes! </p>
</div>

<h1 class="text">Manage users</h1>
<p class="text">
    Manage other users here. Reassign them to new groups, manage their authorities, <br>
    assign them a different status or delete their account.
</p>

<mat-tab-group style="margin: 8px">
    <mat-tab *ngFor="let tab of courseComponentTabs" [label]="tab.label">
        <ng-template mat-tab-label>
            <mat-icon class="course-component-icon">{{ tab.icon }}</mat-icon>
            {{ tab.label }}
        </ng-template>
        <ng-template matTabContent>
            <app-entity-list (addPressed)="openDialog(tab.newDialog)" [itemInfo]="tab.itemInfo" [service]="tab.service">
            </app-entity-list >
        </ng-template>
    </mat-tab>
</mat-tab-group>
