.text {
    color: var(--text-color);
}

.lazily-loaded-tabs, .management-section {
    margin: 1px;
}

.notification-list {
    color: var(--text-color);
}

.appendix-button {
    color: var(--text-color);
    background-color: var(--background-color);
}

.list-element {
    margin-bottom: 10px;
}

.notification-details {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 6px 12px;
    align-items: center;
    margin-bottom: 12px;
}

.notification-details h3 {
    margin: 0;
    font-size: 0.95rem;
    font-weight: 600;
    color: var(--text-color);
    white-space: nowrap; /* Prevents text from wrapping */
}

.notification-details span {
    font-size: 0.9rem;
    color: var(--text-color);
    word-break: break-word;
}
