

<div *ngIf="!isAuthorized">
    <app-request-login *ngIf="!loginRequest" [error]="error" (submit)="onLoginSubmit($event)"></app-request-login>
    <app-password *ngIf="loginRequest" [error]="error" [loginName]="loginRequest.loginName" (submit)="onPasswordSubmit($event)"></app-password>
</div>
<!--
<div *ngIf="isAuthorized">
    <app-dialog-header title="Already logged in!" icon="warning"></app-dialog-header>
    <mat-dialog-content>
        <p>If you think that this is an mistake, please log out and contact your Schulleitung.</p>
    </mat-dialog-content>
    <mat-dialog-actions>
        <app-default-dialog-actions submit="" cancel="Done"></app-default-dialog-actions>
    </mat-dialog-actions>
</div>
-->
