<div class="container">
    <div class="calendar-container">
        <div [style.flex-direction]="wrap ? 'column' : 'row'" class="calendar-info-wrapper">
            <!-- Calendar Component -->
            <div class="calendar-wrapper">
                <app-calendar-controls #controls></app-calendar-controls>
                <div class="scrollable-container">
                    <mwl-calendar-month-view (dayClicked)="onDayClicked($event.day)"
                                             (eventClicked)="onEventClicked($event.event)"
                                             *ngIf="controls.viewType === CalendarView.Month"
                                             [events]="events"
                                             [locale]="'en-GB'"
                                             [viewDate]="controls.viewDate"
                                             [weekStartsOn]="1">
                    </mwl-calendar-month-view>
                    <mwl-calendar-week-view (eventClicked)="onEventClicked($event.event)"
                                            *ngIf="controls.viewType === CalendarView.Week"
                                            [events]="events"
                                            [locale]="'en-GB'"
                                            [viewDate]="controls.viewDate"
                                            [weekStartsOn]="1">
                    </mwl-calendar-week-view>
                    <mwl-calendar-day-view (eventClicked)="onEventClicked($event.event)"
                                           *ngIf="controls.viewType === CalendarView.Day"
                                           [events]="events"
                                           [locale]="'en-GB'"
                                           [viewDate]="controls.viewDate">
                    </mwl-calendar-day-view>
                </div>
                <div style="display: flex; justify-content: space-between">
                    <button mat-button>Import into another Calendar</button>
                    <button mat-button>Export to File</button>
                </div>
            </div>

            <!-- Mini Calendar and Events on-->
            <div [style.margin-left]="!wrap ? '5px' : '0'"
                 [style.margin-top]="wrap ? '5px' : '0'"
                 [style.max-width]="wrap ? null : '350px'"
                 class="info-box">
                @if (!wrap) {
                    <mat-calendar [(selected)]="controls.viewDate"></mat-calendar>
                    <mat-divider></mat-divider>
                }
                <h4 [style.text-align]="'center'" class="mat-title">Upcoming homework & tests</h4>
                <div class="upcoming-events-container">
                    <mat-list *ngFor="let event of nextEvents">
                        <mat-list-item>
                            <span matListItemTitle>{{ dateToString(event.start) }}</span>
                            <span matListItemLine>{{ event.title }}</span>
                        </mat-list-item>
                    </mat-list>
                </div>
            </div>
        </div>
    </div>

<!--    <div class="appointment-box">
        @if (selectedEvent && selectedEvent.meta.type === AppointmentEntryModel) {
            <app-event-data
                [title]="selectedEvent.title"
                [subtitle]="dateToString(selectedEvent.start)"
                [appointment]="selectedAppointment" #eventComponent
            ></app-event-data>
        } @else if (selectedEvent && selectedEvent.meta.type == FrequentAppointmentModel) {
            <button mat-raised-button (click)="createEvent()">Edit data</button>
        }
    </div>-->

</div>


