.calendar-container {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    justify-content: center;
    align-items: center;
    margin: 0 5px 0 5px;
    border: var(--widget-color) solid 1px;

    .calendar-info-wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;

        @media (max-width: 1200px) {
            flex-direction: column;
        }
    }

    .calendar-wrapper {
        flex: 2;
        height: 600px;
        overflow-y: auto;
        overflow-x: auto;
    }

    .info-box {
        flex: 1;
        padding: 16px;
        display: flex;
        flex-direction: column;

        border-radius: 4px;
        background-color: var(--widget-color);

        h3 {
            text-align: center;
        }

        span {
            color: var(--text-color);
        }
    }
}
