/* timetable.component.scss */
.fc {
    color: var(--text-color);
    width: 100%; // Make full width on smaller screens
}


/* timetable.component.scss */
.fc-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .fc-toolbar {
        flex-direction: column;
        align-items: flex-start;
        .fc-toolbar-chunk {
            margin-bottom: 5px;
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }
}

@media (max-width: 480px) {
    .fc-toolbar {
        .fc-toolbar-chunk.left,
        .fc-toolbar-chunk.right {
            display: none; // Hide non-essential buttons on very small devices
        }
        .fc-toolbar-chunk.center {
            margin: 0 auto;
        }
    }
}
