p {
    color: gray;
    margin-bottom: 10px;
}

.form-content {
    width: 100%;

    img {
        text-align: center;
    }

    mat-form-field {
        width: 100%;
    }
}


.form-footer {
    display: flex;
    justify-content: flex-end
}
