<mat-form-field appearance="outline">
    <mat-label>User Search</mat-label>
    <input name="search"
           type="search"
           [(ngModel)]="filteredString"
           (input)="unselectAll()"
           autofocus matInput>
</mat-form-field>
<mat-accordion>
    <mat-checkbox [checked]="isSelected('all')"
                  [indeterminate]="partiallySelected"
                  (change)="toggle('all')"
                  *ngIf="users.length != 0"
                  class="text-color"
    >Select All
    </mat-checkbox>

        <button mat-button  style="text-align: right;">
            Filter
        </button>
    </div>
    <mat-expansion-panel *ngFor="let user of users" (closed)="editGroup = undefined">
        <mat-expansion-panel-header tabindex="-1">
            <mat-panel-title>
                <a matListItemTitle>
                    <mat-checkbox
                        [checked]="isSelected(user)"
                        (change)="toggle(user)"
                        (click)="$event.stopPropagation()"
                        (keydown)="handleKeyDown($event, user)">
                    </mat-checkbox>
                    <mat-icon class="icon">{{ icon(user) }}</mat-icon><a [style.color]="getTheme.getTextColor('background', false)">
                        {{ user.loginName }}
                    </a>
                </a>

            </mat-panel-title>
            <mat-panel-description>
                @if (!(accessibilityService.mobile)) {
                    <mat-chip-set>
                        @for (tag of tags(user); track tag) {
                            <mat-chip>{{ tag }}</mat-chip>
                        }
                    </mat-chip-set>
                } @else {
                    <span></span> <!-- required so the icon is not placed in the middle -->
                }

                <mat-icon class="icon"
                          [matTooltip]="user.status"
                          *ngIf="accessibilityService.dimensions.width > 450">
                    {{ status(user) }}
                </mat-icon>
            </mat-panel-description>

        </mat-expansion-panel-header>

        <h3>Groups</h3>
        @if (isEditingGroups(user)) {
            <app-group-selection-list [user]="user"></app-group-selection-list>

            <div>
                <button mat-stroked-button color="warn"
                        (click)="editGroup = undefined"
                        style="margin-right: 10px">
                    Cancel
                </button>
                <button mat-stroked-button>Apply</button>
            </div>

        } @else {
            <div *ngIf="user.groups && user.groups.length > 0">
                <mat-list>
                    <mat-list-item *ngFor="let group of user.groups">
                        <mat-icon class="icon">group</mat-icon>
                        <span mat-line>{{ group.name }}</span>
                        <span mat-line *ngIf="group.privileges.length > 0">
                        <strong>Privileges:</strong>
                        <span *ngFor="let privilege of group.privileges; let isLast = last">
                            {{ privilege.name }}<span *ngIf="!isLast">, </span>
                        </span>
                    </span>
                    </mat-list-item>
                </mat-list>
            </div>

            <div *ngIf="!user.groups || user.groups.length === 0">
                <p>No groups assigned.</p>
            </div>

            <button (click)="editGroup = user" mat-stroked-button>Test</button>
        }

    </mat-expansion-panel>
</mat-accordion>
