mat-expansion-panel .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

mat-icon {
    margin-right: 10px
}

.text-color {
    color: var(--text-color);
}
