<div *ngIf="insight() && insight()!.submitted">
    <ul style="text-underline: black; color: blue !important;">
        @for (file of insight()!.files || []; track file) {
            <li style="display: flex; vertical-align: center; gap: 10px">{{ file }}
                <mat-icon (click)="downloadFile(file)" style="cursor: pointer">download</mat-icon>
            </li>
        }
    </ul>

    <ng-container *ngIf="insight()!.assessment?.feedback">
        <p>{{ insight()!.assessment?.feedback }}</p>
    </ng-container>
</div>
