<div class="file-upload-container">
    <input type="file" id="fileInput" hidden [multiple]="maxFiles() > 1" (change)="onFileSelected($event)">
    <label for="fileInput" class="file-upload-label">
        <div class="file-upload-content">
            <mat-icon>upload</mat-icon>
            <div class="upload-text">
                <p>Click to upload medical document</p>
                <small>Maximum file size: 25MB</small>
            </div>
        </div>
    </label>
    <div class="selected-file" *ngIf="selectedFile">
        {{ selectedFiles?.name }}
    </div>
</div>
