<div class="file-upload-container" (drop)="onDrop($event)"
     (dragenter)="onDragEnter($event)" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" [ngClass]="{'dragging': isDragging}">
    <input type="file" id="fileInput" hidden [multiple]="maxFiles() > 1" [accept]="accept()" (change)="onFileSelected($event)">
    <label for="fileInput" class="file-upload-label">
        <div class="file-upload-content">
            <mat-icon>upload</mat-icon>
            <div class="upload-text">
                <p> {{ this.displayText() }}</p>
            </div>
        </div>
    </label>
    <div class="selected-file" *ngIf="this.containsMultipleFiles">
        {{ selectedFiles?.length }} files selected.
    </div>
    <div class="selected-file" *ngIf="this.containsOneFile">
        {{ this.singleFileName }}
    </div>
</div>
