<form [formGroup]="form">
    <app-date-time-picker formControlName="start"></app-date-time-picker>

    <app-general-selection-input
        *ngIf="rooms().length > 0"
        label="Room (Optional)"
        formControlName="room"
        [values]="rooms()"
        [allowNull]="true"
    >
    </app-general-selection-input>

    <mat-tab-group animationDuration="200ms">
        <mat-tab label="Duration">
            <div class="duration-container">
                <app-duration-picker
                    formControlName="duration"
                    [show]="[DurationType.MINUTES, DurationType.HOURS]">
                </app-duration-picker>
            </div>
        </mat-tab>
        <mat-tab label="End Date">
            <div class="duration-container">
                <app-date-time-picker
                    label="Until"
                    [minDate]="(form.get('start')?.value)"
                    formControlName="end">
                </app-date-time-picker>
            </div>
        </mat-tab>
    </mat-tab-group>
</form>
