div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 330px;
    transform: translate(-50%, -50%);
    overflow: hidden;

    h5 {
        text-align: center;
    }

    mat-progress-bar {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
