.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    mat-icon {
        transform: scale(4);
        -webkit-text-fill-color: var(--widget-color);
    }
}
