{{ assignment?.description || 'No assignment given' }}

<div class="placeholder" *ngIf="!assignment?.description">
    <mat-icon svgIcon>assignment_turned_in</mat-icon>
</div>

<div *ngIf="insight">
    {{ insight.submitted }}
    <mat-tree>
        <mat-tree-node *ngFor="let file of insight.files; let i = index">
            <mat-icon>description</mat-icon>
            {{ file }}
        </mat-tree-node>
    </mat-tree>
</div>

<div *ngIf="assignment?.description && (insight?.files?.length || 0) < 5" >
    <mat-list>
        <mat-list-item>
            <span matListItemTitle>Deadline:</span>
            <span matListItemLine>{{ assignment?.submitUntil }}</span>
        </mat-list-item>
    </mat-list>

    <form (ngSubmit)="onSubmit()" [formGroup]="form" >
        <app-file-upload formControlName="files" (filesSelected)="onFileSelected($event)"></app-file-upload>
        <div *ngIf="canSubmit">
            <button mat-flat-button type="submit">Submit Homework</button>
        </div>
    </form>
</div>
