<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ title() }}</mat-card-title>
            <mat-card-subtitle>{{ subtitle() }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="data-container">
                <mat-grid-list cols="4" rowHeight="150px" gutterSize="10px">

                    <!-- Description -->
                    <mat-grid-tile rowspan="2" colspan="2">
                        <mat-card>
                            <mat-card-header class="container-header">
                                <mat-card-subtitle>Description</mat-card-subtitle>
                                <button mat-icon-button type="button" (click)="switchEdit = 'description'">
                                    <mat-icon>{{ isEditing('description') ? 'check' : 'edit' }}</mat-icon>
                                </button>
                            </mat-card-header>
                            <mat-card-content [style.overflow]="enableScroll">
                                @if (isEditing('description')) {
                                    <mat-form-field class="edit-description-form-field" appearance="outline">
                                        <textarea
                                            matInput
                                            style="height: 160px;"
                                            formControlName="description"
                                            maxlength="1000"
                                            #descriptionInput></textarea>
                                        <mat-hint align="end">{{descriptionInput.textLength }}/1000</mat-hint>
                                    </mat-form-field>
                                } @else {
                                    <div class="description-content">
                                        {{ this.form.get('description')?.value }}
                                    </div>
                                }
                            </mat-card-content>
                        </mat-card>
                    </mat-grid-tile>

                    <!-- Assignments -->
                    <mat-grid-tile rowspan="1" colspan="2">
                        <mat-card>
                            <mat-card-header>
                                <mat-card-subtitle>Assignment</mat-card-subtitle>
                                <button mat-icon-button type="button" (click)="switchEdit = 'assignment'">
                                    <mat-icon>{{ isEditing('assignment') ? 'check' : 'edit' }}</mat-icon>
                                </button>
                            </mat-card-header>
                            <mat-card-content>
                                {{ form.get('assignment')?.value || 'No assignment given' }}
                            </mat-card-content>
                        </mat-card>
                    </mat-grid-tile>

                    <!-- Room -->
                    <mat-grid-tile rowspan="1" colspan="2">
                        <mat-card>
                        <mat-card-header>
                            <mat-card-subtitle>Room</mat-card-subtitle>
                            <button mat-icon-button type="button" (click)="switchEdit = 'room'">
                                <mat-icon>{{ isEditing('room') ? 'check' : 'edit' }}</mat-icon>
                            </button>
                        </mat-card-header>
                        <mat-card-content>
                            {{ this.form.get('room')?.value || 'No room specified' }}
                        </mat-card-content>
                    </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </mat-card-content>
        <mat-card-actions align="end" *ngIf="hasEdited">
            <button mat-flat-button type="submit" [disabled]="isCurrentlyEditing">Save Changes</button>
        </mat-card-actions>
    </mat-card>
</form>

