<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ title() }}</mat-card-title>
            <mat-card-subtitle>{{ subtitle() }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="data-container">
                <mat-grid-list cols="6" rowHeight="150px" gutterSize="5px">
                    <!-- Description -->
                    <mat-grid-tile rowspan="2" colspan="3">
                        <app-event-tile-content title="Description" #description>
                            @if (description.editing)
                            {
                                <mat-form-field class="form-field" appearance="outline">
                                        <textarea
                                            matInput
                                            style="height: 180px;"
                                            formControlName="description"
                                            maxlength="1000"
                                            #descriptionInput></textarea>
                                    <mat-hint align="end">{{descriptionInput.textLength }}/1000</mat-hint>
                                </mat-form-field>
                            }
                            @else
                            {
                                <div class="description-content">
                                    {{ this.form.get('description')?.value || 'No description provided for this appointment' }}
                                </div>
                            }
                        </app-event-tile-content>
                    </mat-grid-tile>

                    <!-- Assignments -->
                    <mat-grid-tile rowspan="3" colspan="3">
                        <app-event-tile-content title="Assignment" #appointment>
                            <app-assignment-tab [editing]="appointment.editing" [assignment]="assignmentModel">

                                <mat-form-field appearance="outline" class="form-field">
                                    <textarea matInput style="height: 120px;" formControlName="assignment"></textarea>
                                </mat-form-field>

                                <div *ngIf="form.get('assignment')?.value">
                                    <app-date-time-picker label="publish" formControlName="publish"></app-date-time-picker>
                                    <app-date-time-picker label="deadline" formControlName="submitUntil"></app-date-time-picker>
                                </div>
                            </app-assignment-tab>
                        </app-event-tile-content>
                    </mat-grid-tile>

                    <!-- Room -->
                    <mat-grid-tile rowspan="1" colspan="3" >
                        <app-event-tile-content title="Room" #room>
                            <app-room-tab [editing]="room.editing" [room]="form.get('room')?.value">
                                <app-general-selection-input
                                    class="form-field"
                                    formControlName="room"
                                    placeholder="Enter Room"
                                    *ngIf="rooms.length > 0"
                                    [label]="null" [values]="rooms">
                                </app-general-selection-input>
                            </app-room-tab>
                        </app-event-tile-content>
                    </mat-grid-tile>
<!--
                    <mat-grid-tile rowspan="1" colspan="2">
                        <mat-card>
                            <mat-card-header>
                                <mat-card-subtitle>Resources</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content style="text-align: center">
                                <mat-icon>upload_file</mat-icon>
                            </mat-card-content>
                        </mat-card>
                    </mat-grid-tile>-->
                </mat-grid-list>
            </div>
        </mat-card-content>
        <mat-card-actions style="display: flex; justify-content: space-between" *ngIf="anyEdit">
            <p style="background-color: #ceb986; margin: 5px 15px 5px 5px; padding: 5px; border-radius: 8px;">You have got unsaved changes. Press "Save Changes" to save your changes.</p>
            <button mat-flat-button type="submit" [disabled]="appointment.editing || room.editing || description.editing">Save Changes</button>
        </mat-card-actions>
    </mat-card>
</form>

