
<div class="title">
    <mat-chip *ngIf="isTeacher">Teachers View</mat-chip>
    <mat-chip *ngIf="!isTeacher">Students View</mat-chip>
    <h3> {{ title }} </h3>
</div>

<div class="calendar-controls">
    <div>
        <mat-button-toggle-group [hideSingleSelectionIndicator]="true" [(ngModel)]="viewType">
            <mat-button-toggle [value]="CalendarView.Day">Day</mat-button-toggle>
            <mat-button-toggle [value]="CalendarView.Week">Week</mat-button-toggle>
            <mat-button-toggle [value]="CalendarView.Month">Month</mat-button-toggle>
        </mat-button-toggle-group>
    </div>

    <div>
        <button mat-icon-button aria-label="previous" (click)="previous()">
            <mat-icon>arrow_back_ios</mat-icon>
        </button>
        <button mat-icon-button aria-label="next" (click)="next()">
            <mat-icon>arrow_forward_ios</mat-icon>
        </button>
        <button mat-icon-button aria-label="next" (click)="createAppointment()" *ngIf="isTeacher">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>
