.error-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--widget-color);
    text-align: center;
    padding: 24px;
}

.error-icon {
    margin-bottom: 16px;

    .actual-icon
    {
        font-size: 64px; height: 64px; width: 64px;
    }
}

.error-message p strong {
    color: #d32f2f;
}
