mat-card {
    width: 100%;
    height: 100%;

    mat-card-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        button {
            position: absolute;
            top: 5px;
            right: 5px;
        }
    }

    mat-card-content {
        // when setting the width to 100% it exceeds the card. I don't know why. I don't care why. I'll just do nothing
        height: 100%;
    }
}
