<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-progress-bar class="loading-bar" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
        <div class="overlay" *ngIf="loading"></div>
        <mat-card-header style="display: flex; justify-content: space-between">
            <mat-card-title>Create new Appointment</mat-card-title>
            <button mat-icon-button mat-dialog-close>
                <mat-icon>close</mat-icon>
            </button>
        </mat-card-header>
        <mat-card-content class="content-wrapper">
            <app-general-selection-input
                label="Enter the Course this Appointment applies to"
                formControlName="course"
                [values]="courses">
            </app-general-selection-input>

            <mat-tab-group animationDuration="200ms"
                           [selectedIndex]="form.get('selected')?.value"
                           (selectedIndexChange)="form.get('selected')?.setValue($event)">
                <mat-tab label="Appointment">
                    <div class="appointment-content">
                        <app-create-standalone-appointment
                            [rooms]="rooms"
                            #standalone>
                        </app-create-standalone-appointment>
                    </div>
                </mat-tab>
                <mat-tab label="Frequent Appointment">
                    <div class="appointment-content">
                        <app-create-frequent-appointment
                            [rooms]="rooms"
                            #frequent>
                        </app-create-frequent-appointment>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
        <mat-card-actions align="end">
            <button class="close-button" mat-button type="button" mat-dialog-close>Cancel</button>
            <button [disabled]="!canSubmit()" mat-stroked-button type="submit">Select</button>
        </mat-card-actions>
    </mat-card>
</form>
