<form>
    <mat-selection-list #shoes [multiple]="false">
        @for (shoe of typesOfShoes; track shoe) {
            <mat-list-option [value]="shoe">{{shoe}}</mat-list-option>
        }
    </mat-selection-list>
    <div style="display: flex; justify-content: flex-end">
        <button mat-button mat-dialog-close type="button">Back</button>
        <button mat-stroked-button type="submit">Select{{shoes.selectedOptions.hasValue() ? ' ' + shoes.selectedOptions.selected[0].value : ''}}</button>
    </div>
</form>
