.container {
    height: 605px;

    mat-progress-bar {
        width: 50%;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .empty-list-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        text-align: center;

        .mat-icon {
            transform: scale(4);
            padding: 30px;
            -webkit-text-fill-color: var(--widget-color);
        }

        button {
            margin-top: 8px;
        }
    }

    .create-entry-button {
        background-color: var(--widget-color);
    }
    .paginator-tools {
        border-top: solid 1px rgba(50, 50, 50, 0.1);;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .scrollable-button
    {
        text-align: center;
        position: absolute;
        bottom: 80px;
        left: 50%;
        transform: translateX(-50%);
    }
}



