<form (ngSubmit)="onSubmit()">
    <h6 class="mat-subtitle-1">
        Login as {{ loginData.loginName }}
        <p class="mat-label-small">We've sent an E-Mail to the users email address</p>
    </h6>
    <mat-form-field appearance="outline">
        <mat-label>Enter code from the E-Mail...</mat-label>
        <input [(ngModel)]="_code" autofocus
               matInput
               name="code" placeholder="Enter code from the E-Mail..." required>
    </mat-form-field>
    <div style="display: flex; justify-content: flex-end">
        <!--<button (click)="onCancel()" mat-button mat-dialog-close type="button">Back</button>-->
        <button mat-stroked-button type="submit">Login</button>
    </div>
</form>
