<mat-card>
    <mat-progress-bar class="loading-bar" mode="indeterminate" *ngIf="loading()"></mat-progress-bar>
    <div class="overlay" *ngIf="loading()"></div>
    <mat-card-header style="display: flex; justify-content: space-between">
        <mat-card-title>{{ title() }}</mat-card-title>
        <button mat-icon-button mat-dialog-close class="close-button">
            <mat-icon>close</mat-icon>
        </button>
    </mat-card-header>
    <div *ngIf="!loading()">
        <ng-content></ng-content>
    </div>
</mat-card>
