<form (ngSubmit)="onSubmit()" [formGroup]="form">
    <h6 class="mat-subtitle-1">Login as {{ loginData()?.loginName }}</h6>
    <p class="mat-caption" style="color: gray; margin-bottom: 10px;">
        Please open the TOTP App on your phone and enter the code
    </p>
    <mat-form-field appearance="outline">
        <mat-label>Enter code from the E-Mail...</mat-label>
        <input autofocus formControlName="secret"
               matInput
               name="code" placeholder="Enter code from the TOTP App..." required>
    </mat-form-field>
    <div style="display: flex; justify-content: flex-end">
        <button (click)="onCancel()" mat-button mat-dialog-close type="button">Cancel</button>
        <button mat-stroked-button type="submit">Login</button>
    </div>
</form>
