<form (ngSubmit)="onSubmit(credentialSelection.selectedOptions.hasValue() ? credentialSelection.selectedOptions.selected[0].value : undefined)">
    <app-dialog-header icon="person" title="Select Credential"></app-dialog-header>
    <mat-dialog-content>
        <mat-selection-list #credentialSelection [multiple]="false">
            <mat-list-option *ngFor="let credential of credentials" [value]="credential.text">
                <mat-icon class="centered-icon">{{credential.icon}}</mat-icon>
                {{ credential.text }}
            </mat-list-option>
        </mat-selection-list>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <app-default-dialog-actions></app-default-dialog-actions>
    </mat-dialog-actions>
</form>

