<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <app-general-create title="Create Classroom" [loading]="loading">
        <mat-card-content>

            <mat-form-field appearance="outline">
                <mat-label>Class Name</mat-label>
                <input
                    type="text"
                    matInput
                    formControlName="name"
                />
            </mat-form-field>

            <general-selection-input
                [values]="teacher"
                label="Select Tutor"
                placeholder="Enter the tutor you wish to set for this class"
                formControlName="tutor">
            </general-selection-input>

            <general-selection-input
                [values]="students"
                [multiple]="true"
                label="Select Students"
                placeholder="Enter a students name and press enter"
                formControlName="students">
            </general-selection-input>

            <general-selection-input
                [values]="courses"
                [multiple]="true"
                label="Select Courses"
                placeholder="Enter a course this class should be added to and press enter"
                formControlName="courses">
            </general-selection-input>

        </mat-card-content>
        <mat-card-actions align="end">
            <button class="close-button" mat-button type="button" mat-dialog-close>Cancel</button>
            <button mat-stroked-button type="submit" [disabled]="!canSubmit">Submit</button>
        </mat-card-actions>
    </app-general-create>
</form>
