<h1 [style.color]="user.theme.getTextColor('background', false)">Settings</h1>
<h3 [style.color]="user.theme.getTextColor('background', false)">Themes</h3>
<p [style.color]="user.theme.getTextColor('background', false)">
    User themes allow users to switch to a color scheme they feel comfortable with. <br>
    They can only be created by the system admin.
</p>
<mat-form-field>
    <mat-label>{{ getCurrentThemeName }}</mat-label>
    <mat-select [formControl]="themeForm" panelClass>
        <mat-option *ngFor="let theme of themes | async" [value]="theme">
            {{ theme.name }}
        </mat-option>
    </mat-select>
</mat-form-field> <br>
<button mat-button [style.color]="user.theme.getTextColor('background', false)" (click)="saveSettings()">Save changes on server</button> <br> <br>
<button mat-button [style.color]="user.theme.getTextColor('background', false)" (click)="setThemeLocally()">Save changes locally</button> <br> <br>

<mat-divider></mat-divider>

<h3 [style.color]="user.theme.getTextColor('background', false)">Feedback</h3>
<p [style.color]="user.theme.getTextColor('background', false)">
    Is there something on your mind? Do you have some feature ideas or have discovered bugs? <br>
    Tell us about it!
</p>
<mat-form-field>
    <mat-label>Feedback</mat-label>
    <textarea matInput [(ngModel)]="feedbackText"></textarea>
</mat-form-field>
<button mat-button [style.color]="user.theme.getTextColor('background', false)" (click)="openEmail(feedbackText)">Send feedback...</button> <br> <br> <br>
