.settings {
    position: fixed;
    width: 95%;
    height: 88%; /* Adjust this value to change the height of the box */
    border-radius: 5px;
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(15px);
    z-index: 2;
    color: white;
    margin: auto;
    top: 90px;
    left: 0;
    right: 0;
    bottom: 0;
    padding-left: 30px;
    padding-top: 30px;

    // Animated values
    opacity: 0;

    .x-background{
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: transparent;
        -webkit-filter:invert(1);
        border: 0;
    }
    .title{
        position: absolute;
        top: 30px;
        left: 30px;
    }
}
