<app-general-create title="Create new Course">
    <mat-card-content class="content-wrapper">

        <mat-form-field appearance="outline">
            <mat-label>Course Name</mat-label>
            <input type="text" matInput/>
        </mat-form-field>

        <app-general-selection-input label="Subject"></app-general-selection-input>

        <!--public constructor(-->
        <!--private readonly _name: string,-->
        <!--private readonly _subjectId: number,-->
        <!--private readonly _classId?: number,-->
        <!--private readonly _users: number[] = []-->
        <!--) {}-->
    </mat-card-content>
    <mat-card-actions align="end">
        <button class="close-button" mat-button type="button" mat-dialog-close>Cancel</button>
        <button mat-stroked-button type="submit">Submit</button>
    </mat-card-actions>
</app-general-create>
