.list-accordion .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.list-accordion .mat-mdc-form-field + .mat-mdc-form-field mat-icon {
    margin-left: 8px;
}

mat-expansion-panel .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.text-color {
    color: var(--text-color);
}

.title
{
    color: var(--text-color);
}

.icon
{
    margin-right: 3px;
}
