@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body {
    height: 100%;
    margin: 0;
}

// Align material vertically with the text
.icon
{
    vertical-align: middle;
    align-items: center;
    margin-bottom: 4px
}
