@use '@angular/material' as mat;
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

:root {
    --text-color: black;
    --background-color: black;
    --widget-color: black;
    --mat-sidenav-content-background-color: transparent;
    --mat-text-color: var(--text-color);
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

// Align material vertically with the text
.icon
{
    vertical-align: middle;
    align-items: center;
    margin-bottom: 4px
}

// Remove mat-form-field background color
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: transparent !important;
}

.mdc-floating-label, .mat-mdc-select, .mat-mdc-option  {
    color: var(--text-color) !important;
}

.mat-mdc-select-panel {
    background-color: var(--background-color) !important;
}

.mdc-label {
    color: var(--text-color) !important;
}

.mat-expansion-panel-header{
    background-color: var(--background-color) !important;
}

// symbol color
.mat-ligature-font {
    color: var(--text-color) !important;
}

// mat-checkbox color
.mdc-checkbox__background {
    border-color: var(--text-color) !important;
}

// tag font color
.mdc-evolution-chip__text-label {
    color: var(--text-color) !important;
}

.mat-expansion-panel-body {
    color: var(--text-color) !important;
}

// tag background color
.mat-mdc-standard-chip {
    --mdc-chip-elevated-container-color: var(--widget-color) !important;
}

.mat-expansion-panel-content {
    background-color: var(--background-color) !important;
}

.mat-expansion-panel {
    background: var(--background-color) !important;
}

.mdc-text-field__input {
    color: var(--text-color) !important;
}

.mat-input-placeholder {
    color: var(--text-color) !important;
}

.mdc-list-item__primary-text {
    color: var(--text-color) !important;
}

// This is a temporary solution
// ok
mat-form-field
{
    width: 100%;
    margin-top: 5px;
}

mat-mdc-paginator {
    background-color: rgba(255, 255, 255, .1);
}

textarea::placeholder {
    color: var(--text-color);
}


@include mat.datepicker-overrides((
    calendar-period-button-text-color: var(--text-color),
    calendar-body-label-text-color: var(--text-color),
    calendar-date-selected-state-text-color: var(--text-color),
    calendar-header-text-color: var(--text-color),
    calendar-date-text-color: var(--text-color),
    range-input-disabled-state-text-color: var(--text-color),
    calendar-container-text-color: var(--text-color),
    calendar-header-divider-color: color-mix(in srgb, var(--text-color) 25%, transparent)
));

@include mat.divider-overrides((
    color: color-mix(in srgb, var(--text-color) 25%, transparent)
));

@include mat.button-toggle-overrides((
    background-color: rgba(0,0,0,0),
    text-color: var(--text-color),
    divider-color: var(--widget-color),
    selected-state-background-color: var(--widget-color),
    selected-state-text-color: var(--text-color),
));
