.content-wrapper {
    position: relative;
}

.date-room-container {
    @media (min-width: 1200px) {
        display: flex;

        .datepicker-input {
            flex: 2;
            margin-right: 5px;
        }

        .timepicker-input {
            flex: 1;
        }
    }
}
