<form [formGroup]="form">
    <app-date-time-picker formControlName="start" label="Start"></app-date-time-picker>

    <div class="date-room-container">
        <mat-form-field appearance="outline" class="datepicker-input">
            <mat-label>Until Date</mat-label>
            <input [matDatepicker]="datepicker" formControlName="until" matInput>
            <mat-datepicker-toggle [for]="datepicker" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #datepicker></mat-datepicker>
        </mat-form-field>
        <general-selection-input
            *ngIf="rooms().length > 0"
            [values]="rooms()"
            formControlName="room"
            label="Room" style="flex: 1">
        </general-selection-input>
    </div>


    <div [style.display]="isMobile ? null : 'flex'" style="justify-content: space-between">
        <div>
            <p class="mat-h4">Frequency
                <mat-icon
                    *ngIf="!isMobile"
                    class="icon"
                    matTooltip="Set the interval for the repeating appointments. For example, every 7 days for weekly appointments. This determines how frequently the appointment recurs.">
                    help
                </mat-icon>
            </p>
            <app-duration-picker [show]="[DurationType.DAYS]" formControlName="frequency"></app-duration-picker>
        </div>
        <div>
            <p class="mat-h4">Duration
                <mat-icon
                    *ngIf="!isMobile"
                    class="icon"
                    matTooltip="Specify the duration for each appointment. For example, 30 minutes or 1 hour. This helps define how long each event will last.">
                    help
                </mat-icon>
            </p>
            <app-duration-picker formControlName="duration"></app-duration-picker>

        </div>
    </div>
</form>
