<form>
    <h6 class="mat-subtitle-1">Setup TOTP for {{ loginData?.loginName }}</h6>

    @if(!base64)
    {
        <div style="display: flex; justify-content: flex-end">
            <button mat-button mat-dialog-close type="button">Cancel</button>
            <button mat-stroked-button type="submit">Use E-Mail</button>
        </div>
    } @else {
        <p class="mat-caption" style="color: gray; margin-bottom: 10px;">
            Requesting App token for {{ loginData?.loginName }}
        </p>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }

</form>
