<form>
    <h6 class="mat-subtitle-1">Setup TOTP for {{ loginData?.loginName }}</h6>

    <ng-container *ngIf="base64">
        <!--suppress AngularNgOptimizedImage (ngOptimizedImage does not support base64) -->
        <img [src]="base64" alt="qrcode" width="128" height="128"/>
        <div style="display: flex; justify-content: flex-end">
            <button mat-button mat-dialog-close type="button">Cancel</button>
            <button mat-stroked-button type="submit">Use E-Mail</button>
        </div>
    </ng-container>

    @if(!base64)
    {
        <p class="mat-caption" style="color: gray; margin-bottom: 10px;">
            Requesting App token for {{ loginData?.loginName }}
        </p>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }

</form>
