.stepper-header {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: white;
    padding-top: 20px;
    border-radius: 20px;
    height: 180px;
    margin-bottom: -40px;
}

.step-buttons {
    background-color: var(--widget-color);
}

.stepper
{
    overflow: auto;
}
