<div *ngIf="loginName">
    <form (ngSubmit)="onSubmit()">
        <app-dialog-header icon="person" [title]="'Login as ' + loginName"></app-dialog-header>
        <mat-dialog-content>
            <mat-form-field appearance="outline" style="width: 100%; margin-top: 5px">
                <mat-label>Password</mat-label>
                <input (ngModelChange)="allowSubmit()" [(ngModel)]="password"
                       [type]="showPassword ? 'text' : 'password'" autofocus
                       matInput
                       name="password" placeholder="Enter password for {{ loginName }}..." required #passwordInput>
                <button (click)="onShowPassword($event)" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="showPassword"
                        mat-icon-button
                        matSuffix
                        type="button">
                    <mat-icon>{{ showPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
                </button>
            </mat-form-field>
        </mat-dialog-content>
        <mat-dialog-actions style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
            <div>
                <a href="https://www.nhs.uk/conditions/dementia/care-and-support/help-and-support/" mat-button>Forgot
                    Password?</a>
            </div>
            <div>
                <app-default-dialog-actions submit="Login"></app-default-dialog-actions>
            </div>
        </mat-dialog-actions>
    </form>
</div>

<div *ngIf="!loginName">
    <h2 mat-dialog-title style="margin-top: 0;">
        <mat-icon style="vertical-align: middle; margin-bottom: 4px;">person</mat-icon>
        <span style="margin-left: 8px;">Login Required</span>
    </h2>
    <mat-dialog-content>
        <span>No login name was provided. Please enter your login details to continue.</span>
    </mat-dialog-content>
    <mat-dialog-actions>
        <app-default-dialog-actions submit=""></app-default-dialog-actions>
        <!--<button color="warn" mat-button mat-dialog-close>Cancel</button>-->
    </mat-dialog-actions>
</div>

