<form (ngSubmit)="onSubmit()" [formGroup]="form">
    <abstract-general-card [loading]="loading" title="{{ title }}">
        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label>Group Name</mat-label>
                <input formControlName="id" matInput type="text"/>
            </mat-form-field>

            <general-selection-input [values]="privileges" [allowNull]="true" [multiple]="true" title="Select Privileges" formControlName="privileges"></general-selection-input>
        </mat-card-content>
    </abstract-general-card>
</form>
