<div class="article-container" *ngIf="article">
    <mat-chip-set>
        <mat-chip *ngFor="let x of article.tags">
            {{ x }}
        </mat-chip>
    </mat-chip-set>
    <h1 class="article-title">{{ article.title }}</h1>

    <div class="article-meta">
        <p>By <strong>{{ article.author }}</strong> | {{ this.newsService.getTimeString(article.timeOfCreation) }}</p>
    </div>

    <div class="article-image">
        <img [src]="this.article.thumbnailBlob" alt="Article image">
    </div>

    <div class="article-content">
        <div [innerHTML]="this.body"></div>
    </div>
</div>

<!-- Show this if no article is found -->
<div *ngIf="!article" class="no-article">
    <h2>Article not found!</h2>
</div>
