<form (ngSubmit)="onSubmit()" [formGroup]="form">

    <app-form-title title="Enter your Credentials">
        Please enter your login name
    </app-form-title>

    <mat-form-field appearance="outline">
        <mat-label>Login Name</mat-label>
        <input autofocus
               formControlName="loginName"
               matInput
               maxlength="20"
               name="username" placeholder="Enter your login name..." required/>
        <mat-error>{{ errorMessageSignal() }}</mat-error>
    </mat-form-field>

    <div class="action-row">
        <mat-checkbox formControlName="rememberMe" name="rememberMe">Remember me</mat-checkbox>
        <div class="buttons">
            <button [disabled]="this.form.invalid" mat-stroked-button type="submit">Login</button>
        </div>
    </div>
</form>
