.course-card {
    max-width: 600px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chip-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.list-container {
    margin-top: 10px;
}
