<div *ngIf="showSettings">
    <app-settings></app-settings>
</div>
<div class="grid-container {{ (cardLayout | async)?.marginTop }}">
  <h1 class="mat-h1">Dashboard <button style="background-color: transparent; border: 0px;" class="bi bi-gear-fill fs-4 text-white" (click)="showSettings = !showSettings"></button></h1>
  <mat-grid-list cols="{{ ( cardLayout | async )?.columns }}" rowHeight="{{( cardLayout | async )?.rowHeight }}">
      <mat-grid-tile rowspan="{{(cardLayout | async)?.stundenplan?.rows}}" colspan="{{(cardLayout | async)?.stundenplan?.cols}}">
          <app-card title="Stundenplan"></app-card>
      </mat-grid-tile>
      <mat-grid-tile rowspan="{{(cardLayout | async)?.klausuren?.rows}}" colspan="{{(cardLayout | async)?.klausuren?.cols}}">
          <app-klausuren-card title="Klausuren"></app-klausuren-card>
      </mat-grid-tile>
      <mat-grid-tile rowspan="{{(cardLayout | async)?.chat?.rows}}" colspan="{{(cardLayout | async)?.chat?.cols}}">
          <app-chat-card title="Chat"></app-chat-card>
      </mat-grid-tile>
      <mat-grid-tile rowspan="{{(cardLayout | async)?.hausaufgaben?.rows}}" colspan="{{(cardLayout | async)?.hausaufgaben?.cols}}">
          <app-hausaufgaben-card title="Hausaufgaben"></app-hausaufgaben-card>
      </mat-grid-tile>
  </mat-grid-list>
</div>
