.grid-container {
    margin-left: 4%;
    margin-right: 4%;
    color: white;
}

.margintop-mobile{
    margin-top: 10%;
    font-size: 12px;
}

.margintop-desktop{
    margin-top: 3%;
}

.dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
}

.more-button {
    position: absolute;
    top: 5px;
    right: 10px;
}

.dashboard-card-content {
    text-align: center;
}
