<form (ngSubmit)="onSubmit()" [formGroup]="form">

    <!-- title -->
    <app-form-title title="Login as {{ loginData?.loginName }}">
        Please enter the password of the user account {{ loginData?.loginName }}
    </app-form-title>

    <!-- text field -->
    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input [type]="showPassword ? 'text' : 'password'"
               autofocus
               formControlName="secret"
               matInput
               name="password" placeholder="Enter password for {{ loginData?.loginName }}..." required>
        <button (click)="onShowPassword()"
                mat-icon-button
                matSuffix
                type="button">
            <mat-icon>{{ showPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
        <mat-error>{{ this.errorMessageSignal() }}</mat-error>
    </mat-form-field>

    <!-- buttons -->
    <app-footer-buttons buttonText="Login"></app-footer-buttons>
</form>
