<form (ngSubmit)="onSubmit()" [formGroup]="form">
    <h6 class="mat-subtitle-1">
        Login as {{ loginData?.loginName }}
    </h6>
    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input [type]="showPassword ? 'text' : 'password'"
               autofocus formControlName="secret"
               matInput
               name="password" placeholder="Enter password for {{ loginData?.loginName }}..." required>
        <button (click)="onShowPassword($event)" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="showPassword"
                mat-icon-button
                matSuffix
                type="button">
            <mat-icon>{{ showPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
        <mat-error>{{ this.errorMessageSignal() }}</mat-error>
    </mat-form-field>
    <div style="display: flex; justify-content: flex-end">
        <button (click)="onCancel()" mat-button mat-dialog-close type="button">Cancel</button>
        <button mat-stroked-button type="submit">Login</button>
    </div>
</form>
