<div class="datetime-container">
    <mat-form-field appearance="outline" class="datepicker-input">
        <mat-label>{{ label() }} Date</mat-label>
        <input (ngModelChange)="updateValue()" [(ngModel)]="date" [matDatepicker]="datepicker" [min]="minDate()"
               matInput>
        <mat-datepicker-toggle [for]="datepicker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #datepicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" class="timepicker-input">
        <mat-label>{{ label() }} Time</mat-label>
        <input (ngModelChange)="updateValue()" [(ngModel)]="time" [matTimepicker]="timepicker" matInput>
        <mat-timepicker-toggle [for]="timepicker" matSuffix></mat-timepicker-toggle>
        <mat-timepicker #timepicker></mat-timepicker>
    </mat-form-field>
</div>
