<div class="duration-picker">
    <mat-form-field *ngIf="show().includes(DurationType.YEARS)" appearance="fill">
        <mat-label>Years</mat-label>
        <input (blur)="onTouched()" [(ngModel)]="years" [min]="allowNegative() ? null : 0" matInput type="number">
    </mat-form-field>

    <mat-form-field *ngIf="show().includes(DurationType.MONTHS)" appearance="fill">
        <mat-label>Months</mat-label>
        <input (blur)="onTouched()" [(ngModel)]="months" [min]="allowNegative() ? null : 0" matInput type="number">
    </mat-form-field>

    <mat-form-field *ngIf="show().includes(DurationType.WEEKS)" appearance="fill">
        <mat-label>Weeks</mat-label>
        <input (blur)="onTouched()" [(ngModel)]="weeks" [min]="allowNegative() ? null : 0" matInput type="number">
    </mat-form-field>

    <mat-form-field *ngIf="show().includes(DurationType.DAYS)" appearance="fill">
        <mat-label>Days</mat-label>
        <input (blur)="onTouched()" [(ngModel)]="days" [min]="allowNegative() ? null : 0" matInput type="number">
    </mat-form-field>

    <mat-form-field *ngIf="show().includes(DurationType.HOURS)" appearance="fill">
        <mat-label>Hours</mat-label>
        <input (blur)="onTouched()" [(ngModel)]="hours" [min]="allowNegative() ? null : 0" matInput type="number">
    </mat-form-field>

    <mat-form-field *ngIf="show().includes(DurationType.MINUTES)" appearance="fill">
        <mat-label>Minutes</mat-label>
        <input (blur)="onTouched()" [(ngModel)]="minutes" [min]="allowNegative() ? null : 0" matInput type="number">
    </mat-form-field>

    <mat-form-field *ngIf="show().includes(DurationType.SECONDS)" appearance="fill">
        <mat-label>Seconds</mat-label>
        <input (blur)="onTouched()" [(ngModel)]="seconds" [min]="allowNegative() ? null : 0" matInput type="number">
    </mat-form-field>
</div>
