<div class="duration-picker">
    <mat-form-field appearance="fill" *ngIf="show().includes(DurationType.YEARS)">
        <mat-label>Years</mat-label>
        <input matInput type="number" [min]="allowNegative() ? null : 0" [(ngModel)]="years" (blur)="onTouched()">
    </mat-form-field>

    <mat-form-field appearance="fill" *ngIf="show().includes(DurationType.MONTHS)">
        <mat-label>Months</mat-label>
        <input matInput type="number" [min]="allowNegative() ? null : 0" [(ngModel)]="months" (blur)="onTouched()">
    </mat-form-field>

    <mat-form-field appearance="fill" *ngIf="show().includes(DurationType.WEEKS)">
        <mat-label>Weeks</mat-label>
        <input matInput type="number" [min]="allowNegative() ? null : 0" [(ngModel)]="weeks" (blur)="onTouched()">
    </mat-form-field>

    <mat-form-field appearance="fill" *ngIf="show().includes(DurationType.DAYS)">
        <mat-label>Days</mat-label>
        <input matInput type="number" [min]="allowNegative() ? null : 0" [(ngModel)]="days" (blur)="onTouched()">
    </mat-form-field>

    <mat-form-field appearance="fill" *ngIf="show().includes(DurationType.HOURS)">
        <mat-label>Hours</mat-label>
        <input matInput type="number" [min]="allowNegative() ? null : 0" [(ngModel)]="hours" (blur)="onTouched()">
    </mat-form-field>

    <mat-form-field appearance="fill" *ngIf="show().includes(DurationType.MINUTES)">
        <mat-label>Minutes</mat-label>
        <input matInput type="number" [min]="allowNegative() ? null : 0" [(ngModel)]="minutes" (blur)="onTouched()">
    </mat-form-field>

    <mat-form-field appearance="fill" *ngIf="show().includes(DurationType.SECONDS)">
        <mat-label>Seconds</mat-label>
        <input matInput type="number" [min]="allowNegative() ? null : 0" [(ngModel)]="seconds" (blur)="onTouched()">
    </mat-form-field>
</div>
