.content, .background-image {
    height: 100%;
}

.background-image {
    background-image: url('../assets/img/gaz-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
