@media (orientation: landscape) {
    .container {
        height: 80%;
        display: grid;
        grid-template-columns: repeat(4, 23%);
        grid-gap: 20px;
        //margin-top: 0px;
        //margin-left: 3%;
    }

    .chatbox {
        background-color: rgba(0, 0, 0, 0.6);
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
        //margin-left: 3%;
        //margin-bottom: 9%;
        //margin-top: 2%;
        height: 1fr;
        //border-radius: 40px;
        backdrop-filter: blur(10px);
        display: flex;
        align-items: start;

        .profile-row {
            background-color: rgba(10, 10, 10, 0.7);
            height: 100%;
            width: 30%;
            border-bottom-left-radius: 40px;
            border-top-left-radius: 40px;
        }
    }

    .timetable {
        background-color: rgba(0, 0, 0, 0.6);
        //border-radius: 40px;
        grid-column: 3 / span 2;
        grid-row: 1;
        //margin-top: 2%;
        //margin-bottom: 8%;
        height: 96%;
        backdrop-filter: blur(10px);
    }

    .homework {
        background-color: rgba(0, 0, 0, 0.6);
        grid-column: 3;
        grid-row: 2;
        //margin-bottom: 18%;
        //border-radius: 40px;
        backdrop-filter: blur(10px);
    }

    .exams {
        background-color: rgba(0, 0, 0, 0.6);
        grid-column: 4;
        grid-row: 2;
        //margin-bottom: 18%;
        //border-radius: 40px;
        width: 1fr;
        backdrop-filter: blur(10px);
    }
}

@media (orientation: portrait) {
    .container {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: 40% 10% 40%;
        //margin-right: 20px;
        grid-gap: 10px;
    }
    .timetable {
        background-color: rgba(0, 0, 0, 0.6);
        //border-radius: 40px;
        grid-column: 1 / span 2;
        max-width: 100%;
        grid-row: 1 / span 2;
        //margin-top: 4%;
        height: 2fr;
        //margin-left: 20px;
        backdrop-filter: blur(10px);
    }

    .homework {
        background-color: rgba(0, 0, 0, 0.6);
        grid-column: 1;
        grid-row: 3;
        //border-radius: 40px;
        //margin-top: 20px;
        height: 1fr;
        //margin-left: 20px;
        backdrop-filter: blur(10px);
    }

    .exams {
        background-color: rgba(0, 0, 0, 0.6);
        grid-column: 2;
        grid-row: 3;
        //margin-top: 20px;
        //margin-left: 20px;
        height: 1fr;
        //border-radius: 40px;
        backdrop-filter: blur(10px);
    }
}

