<mat-drawer-container class="example-container">
    <mat-drawer #drawer mode="side" opened class="drawer">
        <div style="display: flex; justify-content: flex-end; margin-right: 5px">
            <button mat-icon-button (click)="drawer.toggle()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <h1 style="text-align: center; margin-top:40px; color: darkblue; font-weight: bold; user-select: none">ElementEDU</h1>
        <div style="margin-top: 40px">
            <div *ngFor="let item of sidebar_buttons">
                <button mat-button class="sidebar-button" style="padding-left: 30px" [routerLink]="[item.route]">
                    <mat-icon fontIcon="{{item.icon_name}}"></mat-icon>
                    {{ item.title }}
                </button>
            </div>
            <button mat-button class="logout-button" style="padding-left: 30px">
                <mat-icon fontIcon="logout"></mat-icon>
                Logout
            </button>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <div style="margin-left: 40px;">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
