<mat-form-field appearance="outline">
    <mat-label *ngIf="label()">{{ label() }}</mat-label>

    @if (this.multiple())
    {
        <mat-chip-grid #chipGrid aria-label="Fruit selection">
            @for (value of selectedValues(); track $index) {
                <mat-chip-row (removed)="remove(value)">
                    {{ value.name }}
                    <button matChipRemove [attr.aria-label]="'remove ' + value">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip-row>
            }
        </mat-chip-grid>
        <input
            type="text"
            matInput
            #valueInput
            [(ngModel)]="currentValue"
            [placeholder]="placeholder()"
            [matChipInputFor]="chipGrid"
            [matAutocomplete]="complete"
            [matChipInputSeparatorKeyCodes]="[ENTER]"
            (matChipInputTokenEnd)="valueInput.value = add($event);"
            [disabled]="accessibleValues().length === 0"
            (blur)="onTouched()"
        />
    }
    @else
    {
        <input
            type="text"
            matInput
            [(ngModel)]="currentValue"
            [placeholder]="placeholder()"
            [matAutocomplete]="complete"
            (blur)="onTouched()"
        />
    }

    <ng-content></ng-content>

    <mat-autocomplete #complete="matAutocomplete" (optionSelected)="selected($event);">
        @for (value of filteredValues(); track value) {
            <mat-option [value]="value.name">{{ value.name }}</mat-option>
        }
    </mat-autocomplete>
</mat-form-field>
