.title{
    display: flex;
    align-items: baseline;
    justify-content: center;
    width: 400px;
    height: 600px;
    margin: 10% auto auto auto;
    padding-top: 2%;
    text-align: center;
    background-color: rgba(0,0,0,0.4);
    border-radius: 5px;
}

.text{
    font-size: 40px;
    color: white;
}

.input-field{
    width: 90%;
    height: 50px;
    margin-top: 5px;
    background-color: rgba(0,0,0,0.4);
    border: 0px;
    border-radius: 5px;
    color: white;
    padding-left: 20px;
    font-size: 15px;
}

.margin-b-40{
    margin-bottom: 40px;
}

.margin-t-40{
    margin-top: 40px;
}

.button-style{
    margin-top: 50px;
    width: 100px;
    height: 40px;
    background-color: rgba(0,0,0,0.4);
    color: white;
    border: 0px;
    border-radius: 5px;
}

.reg-text{
    color: white;
}

body{
    margin: 0;
    height: 100%;
    overflow: hidden;
}
