<mat-form-field appearance="outline">
    <mat-label *ngIf="label()">{{ label() }}</mat-label>
    <input
        type="text"
        matInput
        [placeholder]="placeholder()"
        [matAutocomplete]="auto"
        [ngModel]="value?.name"
        (ngModelChange)="onInputChange($event)"
        (blur)="onTouched()"/>

    <ng-content></ng-content>

    <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let object of filteredValues | async" [value]="object.name">
            {{ object.name }}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>
