<form (ngSubmit)="onSubmit()" [formGroup]="form">

    <!-- title -->
    <h6 class="mat-subtitle-1">Login as {{ loginData?.loginName }}</h6>
    <p class="mat-caption" style="color: gray; margin-bottom: 10px;">
        Please open the TOTP App on your phone and enter the code
    </p>

    <!-- secret form field -->
    <mat-form-field appearance="outline">
        <mat-label>Enter code from the TOTP App...</mat-label>
        <input autofocus formControlName="secret" pattern="[0-9]"
               matInput
               name="secret" placeholder="Enter code from the TOTP App..." required>
        <mat-error>{{ this.errorMessageSignal() }}</mat-error>
    </mat-form-field>

    <!-- buttons -->
    <div style="display: flex; justify-content: flex-end">
        <button (click)="onCancel()" mat-button mat-dialog-close type="button">Cancel</button>
        <button mat-stroked-button type="submit">Login</button>
    </div>
</form>
