<form (ngSubmit)="onSubmit()" [formGroup]="form">

    <!-- title -->
    <app-form-title title="Login as {{ loginData?.loginName }}">
        Please open the TOTP App on your phone and enter the code
    </app-form-title>

    <!-- secret form field -->
    <mat-form-field appearance="outline">
        <mat-label></mat-label>
        <input
            name="secret"
            pattern="[0-9]"
            placeholder="TOTP Code..."
            formControlName="secret"
            required autofocus matInput>
        <mat-error>{{ this.errorMessageSignal() }}</mat-error>
    </mat-form-field>

    <!-- buttons -->
    <app-footer-buttons></app-footer-buttons>
</form>
