<body>
<div class="title">
    <div class="login-box">
        <div class="text margin-b-40"><strong>Bei ElementEDU anmelden</strong></div> <br>
        <div class="reg-text">Benutzername:</div>
        <input class="input-field margin-b-40" type="text" id="username" name="username">
        <div class="reg-text">Passwort:</div>
        <br><input class="input-field" type="text" id="password" name="password">
        <button class="button-style" (click)="login()">
            <strong>Anmelden</strong>
        </button>
    </div>
</div>
</body>
